<%= render partial: "lightning/header", locals: { show_new_feature_button: false } %>

<div class="container">
  <div class="d-grid align-items-center gap-1 d-md-block border-bottom pb-2 mb-4">
    <%= link_to features_path, class: 'btn btn-light btn-sm' do %>
      <i class="bi-arrow-left-short"></i> All features
    <% end %>
  </div>

  <h3 class="fw-bold">
    New Feature
  </h3>

  <%= render 'form', feature: @feature %>
</div>
