<h3>Permission Accounts</h3>
<%= form_with model: [@feature, @feature.feature_opt_ins.build] do |form| %>
  <p>
    <%= form.label :entity_id, 'Select Account' %><br>
    <%= form.select :entity_id, options_for_select(@users.map {|u| [ (u.respond_to? :ff_display) ? u.ff_display : u.id, u.id] }) %>
  </p>
  <%= form.submit 'Add account to feature' %>
<% end %>